Source: agrifuture-desktop-agent
Maintainer: Agrifuture Team <agrifuture@senckenberg.de>
Section: utils
Priority: optional
Standards-Version: {{ ADA_VERSION }}

Package: agrifuture-desktop-agent
Architecture: all
Homepage: https://agrifuture.senckenberg.de/
Description: Agrifuture Desktop Agent
 Upload your DNA sequencing data to the
 Agrifuture cloud platform
 (https://agrifuture.senckenberg.de).
