{% extends 'layout.html.twig' %}

{% block title 'Register a RAPID-Pipeline analysis'|trans ~ ' - ' ~ parent() %}

{% block content %}
    {% apply spaceless %}
        <div class="text-center">
            <h1>
                {% trans %}Register a RAPID-Pipeline analysis{% endtrans %}
            </h1>
        </div>
    {% endapply %}
{% endblock %}
