{% extends 'layout.html.twig' %}

{% block title 'Information - ' ~ parent() %}

{% block content %}
    {% apply spaceless %}
        <div class="text-center">
            <h1>Informationen</h1>
        </div>
    {% endapply %}
{% endblock %}
