{% extends 'layout.html.twig' %}

{% set agentTitle = 'Labor Dr. Schneider' %}
{% set accountUsername = 'email.address@mail.com' %}

{% block title 'Connected user account'|trans ~ ' - ' ~ parent() %}
{% block headline 'Connected user account' | trans %}
{% block content %}
    {% apply spaceless %}
        <div class="user-account-details border-bottom d-table mb-3">
            <dl class="d-table-row">
                <dt class="d-table-cell strong pe-3">
                    {% trans %}Title of desktop agent{% endtrans %}:
                </dt>
                <dd class="d-table-cell ps-2 pb-3 pe-5">
                    {{ app.user.name }}
                </dd>
            </dl>
            <dl class="d-table-row">
                <dt class="d-table-cell strong pe-3">
                    {% trans %}Your email address{% endtrans %}:
                </dt>
                <dd class="d-table-cell ps-2 pb-3 pe-5">
                    {{ app.user.email }}
                </dd>
            </dl>
        </div>
        <a href="{{ path('app_logout') }}">
            <i class="bi bi-person-plus-fill"></i>
            {% trans %}Connect another user account{% endtrans %}
        </a>
    {% endapply %}
{% endblock %}
