<?xml version="1.0" encoding="UTF-8" standalone="no"?><plist version="1.0">
  <dict>
    <key>CFBundleGetInfoString</key>
    <string>Agrifuture Desktop Agent</string>
    <key>CFBundleDisplayName</key>
    <string>Agrifuture Desktop Agent</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon.png</string>
</dict>
</plist>
