{% block navigation %}
<nav id="navigation-language" aria-label="Sprache wählen">
    <div class="dropdown">
        <button class="btn btn-link dropdown-toggle bi bi-globe2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            German
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li role="menu" class="dropdown-item">
                <a role="menuitem" class="nav-link lang-de active" title="German" href="/rapid-pipeline-analysen" hreflang="de">
                    <span>German</span>
                </a>
            </li>
            <li role="menu" class="dropdown-item">
                <a role="menuitem" class="nav-link lang-de active" title="German" href="/rapid-pipeline-analysen" hreflang="de">
                    <span>German</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}
