{% extends 'layout.html.twig' %}

{% block title '{% trans %}Analysis{% endtrans %} - ' ~ parent() %}

{% block content %}
    {% apply spaceless %}
        <div class="text-center">
            <h1>
                Name der Analyse
            </h1>
        </div>
    {% endapply %}
{% endblock %}
