<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}X{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="bg-light">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
