{% extends 'layout.html.twig' %}

{% block title 'Startpage - ' ~ parent() %}

{% block content %}{% apply spaceless %}
  <div class="text-center">
      Hello World!
  </div>
{% endapply %}{% endblock %}

