{% extends 'base.html.twig' %}

{% block title 'Agrifuture Desktop Agent' %}

{% block body %}
  <header>
  </header>

  <main>
    <div class="container-fluid">
      {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
      {% endfor %}

      {% block content %}{% endblock %}
    </div>
  </main>

  <footer class="page-footer font-small blue pt-4">
  </footer>
{% endblock %}
