{% extends 'base.html.twig' %}

{% block title 'Agrifuture Desktop Agent' %}

{% block body %}
  <header id="header">
    {% include 'partials/structure/siteHeader.html.twig' %}
  </header>

  <main id="main">
    <article class="content py-5 container">
      {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
      {% endfor %}

      {% block content %}{% endblock %}
    </article>
  </main>


  <footer id="footer">
    {% include 'partials/structure/siteFooter.html.twig' %}
  </footer>
{% endblock %}
