{% extends 'base.html.twig' %}

{% block title 'Agrifuture Desktop Agent' %}

{% block body %}
    <header id="header">
        {% include 'partials/structure/siteHeader.html.twig' %}
    </header>

    <main id="main">
        <article class="content py-5 container">
            <h1>{% block headline %}{% endblock %}</h1>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}

            {% block content %}{% endblock %}
        </article>
    </main>

    <footer id="footer">
        {% include 'partials/structure/siteFooter.html.twig' %}
    </footer>
{% endblock %}
