<form class="user-account-form">

    {% include 'partials/forms/fields/text.html.twig' with {
        'id': 'agentTitle',
        'name': 'agent_title_field',
        'label': 'Title of the desktop agent' | trans,
        'desc': 'Please choose a unique title' | trans,
        'placeholder':'e.g. Laboratory A' | trans,
        'required': true
    } %}

    {% include 'partials/forms/fields/email.html.twig' with {
        'id': 'email',
        'name': 'email_field',
        'label': 'Your email address' | trans,
        'desc': 'Username of your AGRIFUTURΞ user account' | trans,
        'required': true
    } %}

    {% include 'partials/forms/fields/password.html.twig' with {
        'id': 'email',
        'name': 'password_field',
        'label': 'Your password' | trans,
        'desc': 'Password of your AGRIFUTURΞ user account' | trans,
        'required': true
    } %}

    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">
            {{ 'Connect user account' | trans }}
        </button>
    </div>
</form>
