.detail-view {

    .page-reload-hint {
        margin-top    : calc(#{$spacer} * (-8.125)); // -130px
        margin-bottom : calc(#{$spacer} * 6.25); // 100px;
    }

    .show-all {
        display : inline-block;
        width   : fit-content;

        @include media-breakpoint-up(xl) {
            text-align : right;
            width      : auto;
        }
    }

    .col-header {
        margin-bottom : $spacer;
    }

    .hide-mobile {
        display : none;

        @include media-breakpoint-up(md) {
            display : unset;
        }
    }

    .row-facts-and-state {

        .card {
            height : 100%;
        }

        .details-state {
            height : 100%;

            form {

                .btn {

                    .bi {
                        margin-right : rem-calc(4);
                    }
                }
            }
        }
    }

    .accordion {

        h2 {

            button {
                font-size     : $h2-font-size;
                font-weight   : 600;
                border-radius : 0 !important;
            }
        }
    }

    .details-results {

        .table {
            table-layout : fixed;
        }

        .reached-threshold {
            font-weight : 700;
        }
    }
}
