{% extends 'layout.html.twig' %}

{% block title %}
    {% trans %}Reconnect your account{% endtrans %}
{% endblock title %}

{% block headline %}
    {% trans %}You’ll need to use another account.{% endtrans %}
{% endblock headline %}

{% block content %}
    {% apply spaceless %}
        <p>
            {{ 'It seems as if your account can no longer use the API. You’ll need another one to use the Desktop Agent. Contact us if you believe this to be a mistake.' | trans }}
        <p>
        <p class="my-3">
            <a href="{{ path('app_logout') }}" class="btn btn-primary">
                <i class="bi bi-person-plus-fill"></i>
                {{ 'Connect another user account' | trans }}
            </a>
        </p>
    {% endapply %}
{% endblock content %}
