{% extends 'layout.html.twig' %}

{% block title %}
    {% trans %}Reconnect your account{% endtrans %}
{% endblock title %}

{% block headline %}
    {% trans %}You are no longer logged in!{% endtrans %}
{% endblock headline %}

{% block content %}
    {% apply spaceless %}
        <p>
            {{ 'You probably used the Portal to log out this Desktop Agent. You’ll need to reconnect it to keep going.' | trans }}
        </p>
        <p class="my-3">
            <a href="{{ path('app_logout') }}" class="btn btn-primary">
                <i class="bi bi-person-plus-fill"></i>
                {{ 'Reconnect your account' | trans }}
            </a>
        </p>
    {% endapply %}
{% endblock content %}
