@import "../componentsBase";

#header {
    background    : $white;
    background    : linear-gradient($white 40%, $gray-300 100%);
    padding       : rem-calc($spacer);
    border-bottom : rem-calc(1) solid $dark;
    height        : $sp-header-height;

    .inner-wrap {
        display        : flex;
        flex-direction : column;
        align-content  : space-around;
        height         : 100%;

        > .container {
            padding-left : rem-calc($sp-width-logo + $sp-space-small);
            position     : relative;
        }
    }

    .menu-language {
        margin-left : rem-calc($sp-space-small);
    }

    .toggle-menu {
        padding     : 0;
        margin-left : $spacer*2;

        .bi {
            font-size   : rem-calc(36);
            line-height : 1;
        }
    }

    // ***************************************
    // logo
    // ***************************************

    .logo-wrap {
        @include vertical-center;
        width     : 100%;
        max-width : rem-calc($sp-width-logo);
        left      : 0;

        .logo-title {
            position : absolute;
            margin   : 0 0 0 -999em !important;
        }
    }

    // ***************************************
    // meta navigation
    // ***************************************

    .navbar {
        display   : flex;
        font-size : $small-font-size;
    }

    .dropdown-toggle {
        font-size : $font-size-sm;
    }

    .nav-meta {
        display : none;

        @include media-breakpoint-up(lg) {
            display : flex;
        }

        .nav-link {
            display       : inline-block;
            padding-right : $spacer*.5;
            padding-left  : $spacer*.5;

            &:hover {
                text-decoration : underline;
            }
        }

        .header-login-button {

            > i {

                &::before {
                    margin-right : .2em;
                }
            }
        }
    }
}
