#footer {
    background : $light;
    padding    : $spacer;
    font-size  : $font-size-sm;

    @include media-breakpoint-up(lg) {
        padding-top : $spacer*2;
    }

    a {
        color : $body-color;

        &:hover {
            color : darken($body-color, $btn-hover-bg-shade-amount);
        }
    }

    .footer-block {

        &-logo {
            max-width : rem-calc($sp-width-logo-footer);
        }

        &-meta {

            @include media-breakpoint-up(md) {
                margin-bottom : rem-calc(30);
            }

            @include media-breakpoint-up(lg) {
                margin-top : -$spacer*0.25;
            }

            .responsive-nav-meta-header {

                @include media-breakpoint-up(md) {
                    display : none;
                }
            }
        }
    }

    .logo-wrap {
        max-width : rem-calc($sp-width-logo-footer);
        padding   : 7.75%;

        @include media-breakpoint-up(md) {
            padding-top : 0;
        }
    }

    address {

        ul {
            @include layout-list;
        }
    }

    .nav-meta {
        display : block;

        .nav-link {
            display       : inline-block;
            padding-right : $spacer*.5;
            padding-left  : $spacer*.5;

            &:hover {
                text-decoration : underline;
            }
        }

        @include media-breakpoint-up(md) {
            display : flex;

            .nav-item {

                &:not(.first) {

                    &:before {
                        content : '|';
                    }
                }
            }
        }
    }

    .logo-efre {
        display         : flex;
        justify-content : flex-end;

        img {
            width : rem-calc(213);
        }
    }
}
