<div class="d-table mb-3">
    {% if analysis.status.value == 'running' %}
        {% include 'partials/states/dates.html.twig' with {
            'dateStart': analysis.created
        } %}
    {% endif %}

    {% if analysis.status.value == 'paused' %}
        {# ToDo datePaused removed, doesn't exist. Maybe show runUntil instead. #}
        {% include 'partials/states/dates.html.twig' with {
            'dateStart': analysis.created,
            'dateShutdown': analysis.runUntil
        } %}
    {% endif %}

    {% if analysis.status.value == 'completed' %}
        {% include 'partials/states/dates.html.twig' with {
            'dateStart': analysis.created,
            'dateCompleted': analysis.finishedTime
        } %}
    {% endif %}

    {% if analysis.status.value == 'crashed' %}
        {% include 'partials/states/dates.html.twig' with {
            'dateStart': analysis.created,
            'dateCrashed': analysis.finishedTime
        } %}
    {% endif %}

    {% include 'partials/facts.html.twig' with {
        'label': 'Duration' | trans,
        'value': "#{analysis.runningTime.hours}h #{analysis.runningTime.minutes}m"
    } %}

    {% include 'partials/facts.html.twig' with {
        'label': 'Upload folder' | trans,
        'value': analysisFactory.cached.relativeDataPath
    } %}
    {% include 'partials/facts.html.twig' with {
        'label': 'Number of files uploaded' | trans,
        'value': analysis.uploaded | length
    } %}

    {% include 'partials/facts.html.twig' with {
        'label': 'Current file' | trans,
        'value': currentFile
    } %}
</div>
